#form-container {
  margin: 20px;
}

#form-container form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-container fieldset {
  width: 500px;
  background-color: rgb(196, 135, 222);
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}

.nav-container {
  background-image: linear-gradient(blue,lightblue);
  position: sticky !important;
  top: 0 !important;
  z-index: 6 !important;
}
